p {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 65, 65);
  height: 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)
}
.globe {
  background: none;
  margin-top: 10px;
  height: 50px;
}

.title {
  color: white;
  margin: 0px;
  margin-top: 10px;
  margin-left: 8px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  height: 150px;
  margin-bottom: 120px;
}

.photo-container {
  flex: 0 0 auto;
  height: 225px;
  width: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 40px;
}

.van-photo {
  max-height: 150px;
  transform: scale(1.85) translate(-15%, 15%);
}

.info-container {
  flex: 1 1 auto;
  margin-top: 40px;
  margin-left: 12px;
}
.location-pin {
  height: 12px;
  background: none;
  margin-right: 3px;
}
.loc-link {
  margin-top: 10px;
}
.maps-link {
  color: gray;
  margin-left: 13px;
}
.location {
  display: inline-block;
}

.title-entry {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  max-width: 800px;
}